/* About Section */
.about {
  height: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  color: white;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.5)), url('../assets/bg2.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black; /* in case image takes time to load, a black background will set in */
  overflow: hidden;
}
.about p {
  line-height: 30px;
  font-size: 20px;
}
.about .profile-pic {
  display: block;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  width: 150px;
  height: 150px;
  border: 1px solid white;
  border-radius: 50%;
}
.about ul {
  line-height: 20px;
  font-size: 25px;
}
.about li {
  padding-left: 40px;
  font-size: 16px;
}

