/* Footer Section */
footer {
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  background-color: black;
  border-top: 1px solid gray;
}
footer h1 {
  margin-top: 15px;
  font-size: 1.1rem;
}
footer p {
  line-height: 20px;
}
footer a {
  color: white;
  text-decoration: none;
}
#footer-footer {
  display: block;
  margin: 0 auto;
  width: 120px;
  height: 20px;
}
