/* Header Section */
header {
  height: 100%;
  padding-top: 70px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.25)), url('../assets/header-full.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black; /* in case image takes time to load, a black background will set in */
  overflow: hidden;
  color: white;
}
#catcher {
  margin-bottom: 10px;
  display: block;
  font-size: 65px;
  font-weight: bold;
}
#header-footer {
  position: absolute;
  width: 220px;
  left: 50%;
  margin-left: -110px;
  bottom: 0;
  margin-bottom: 35px;
  color: white;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
}
#header-footer:hover {
  text-decoration: underline;
}

@media screen and (max-width: 420px) {
  header {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.25)), url('../assets/header-vertical.png') center center;
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    background-size: auto;
  }
}
@media screen and (orientation: landscape) and (max-height: 414px) {
  header {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.25)), url('../assets/header-horizontal.png') center center;
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    background-size: auto;
  }
}
