/* Navbar Section */
nav {
  position: fixed;
  width: 100%;
  padding:15px 0;
  line-height: 25px;
  text-align: right;
  color: white;
  background-color: black;
  border-bottom: 1px solid gray;
  z-index: 1;
}
.under{text-decoration:none;}
.nav-container {
  margin: 0 auto;
  max-width: 1200px;
}
nav .logo {
  position: absolute;
  display: block;
  margin: 3px;
  width: 30px;
  height: 10px;

}
nav h1 {
  margin: 0;
  float: left;
  padding-left: 60px;
}
nav a {
  margin: 0 10px;
  clear: right;
  color: white;
  text-decoration: none;
}
nav .menu {
  margin: 0 20px 0 0;
}
nav label {
  display: none;
  margin: 0 20px 0 0;
  float: right;
  width: 25px;
  font-size: 26px;
}
nav #toggle {
  display: none;
}
@media only screen and (max-width: 639px) {
  nav label {
    display: block;
    cursor: pointer;
  }
  nav .menu {
    display: none;
    width: 100%;
    text-align: center;
    background-color: black;
  }
  nav a {
    display: block;
    margin: 0;
    line-height: 50px;
    border-bottom: 1px solid gray;
  }
  nav #toggle:checked + .menu {
    display: block;
    position: absolute;
    margin-top: 41px;
  }
  @media only screen and (max-width: 299px) {
    nav h1 {
      display: none;
    }
  }
}
