/* Column container */
.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  /* -webkit-box-pack: center; */
  /* -ms-flex-pack: center; */
  /* justify-content: center; */
  height: auto;
  overflow: visible;
}
/* Responsive layout - when the screen is less than 640px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 640px) {
  .flex-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
  }
}

/* Full columns */
.full-col {
  padding: 1em;
  -webkit-box-flex: 100%;
  -ms-flex: 100%;
  flex: 100%;
}

/* Half columns */
.half-col {
  padding: 1em;
  -webkit-box-flex: 50%;
  -ms-flex: 50%;
  flex: 50%;
}

/* Thirds columns */
.third-col {
  padding: 1em;
  -webkit-box-flex: 33.33%;
  -ms-flex: 33.33%;
  flex: 33.33%;
}

/* Quarter columns */
.quarter-col {
  padding: 1em;
  -webkit-box-flex: 25%;
  -ms-flex: 25%;
  flex: 25%;
}
